{
    "@context": [
        "https://geojson.org/geojson-ld/geojson-context.jsonld",
        {
            "@version": "1.1",
            "wx": "https://api.weather.gov/ontology#",
            "s": "https://schema.org/",
            "geo": "http://www.opengis.net/ont/geosparql#",
            "unit": "http://codes.wmo.int/common/unit/",
            "@vocab": "https://api.weather.gov/ontology#",
            "geometry": {
                "@id": "s:GeoCoordinates",
                "@type": "geo:wktLiteral"
            },
            "city": "s:addressLocality",
            "state": "s:addressRegion",
            "distance": {
                "@id": "s:Distance",
                "@type": "s:QuantitativeValue"
            },
            "bearing": {
                "@type": "s:QuantitativeValue"
            },
            "value": {
                "@id": "s:value"
            },
            "unitCode": {
                "@id": "s:unitCode",
                "@type": "@id"
            },
            "forecastOffice": {
                "@type": "@id"
            },
            "forecastGridData": {
                "@type": "@id"
            },
            "publicZone": {
                "@type": "@id"
            },
            "county": {
                "@type": "@id"
            }
        }
    ],
    "id": "https://api.weather.gov/points/38.8894,-77.0352",
    "type": "Feature",
    "geometry": {
        "type": "Point",
        "coordinates": [
            -77.0352,
            38.8894
        ]
    },
    "properties": {
        "@id": "https://api.weather.gov/points/38.8894,-77.0352",
        "@type": "wx:Point",
        "cwa": "LWX",
        "type": "land",
        "forecastOffice": "https://api.weather.gov/offices/LWX",
        "gridId": "LWX",
        "gridX": 97,
        "gridY": 71,
        "forecast": "https://api.weather.gov/gridpoints/LWX/97,71/forecast",
        "forecastHourly": "https://api.weather.gov/gridpoints/LWX/97,71/forecast/hourly",
        "forecastGridData": "https://api.weather.gov/gridpoints/LWX/97,71",
        "observationStations": "https://api.weather.gov/gridpoints/LWX/97,71/stations",
        "relativeLocation": {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.017229,
                    38.904103
                ]
            },
            "properties": {
                "city": "Washington",
                "state": "DC",
                "distance": {
                    "unitCode": "wmoUnit:m",
                    "value": 2256.4628420106
                },
                "bearing": {
                    "unitCode": "wmoUnit:degree_(angle)",
                    "value": 223
                }
            }
        },
        "forecastZone": "https://api.weather.gov/zones/forecast/DCZ001",
        "county": "https://api.weather.gov/zones/county/DCC001",
        "fireWeatherZone": "https://api.weather.gov/zones/fire/DCZ001",
        "timeZone": "America/New_York",
        "radarStation": "KLWX",
        "astronomicalData": {
            "sunrise": "2026-06-19T05:41:10-04:00",
            "sunset": "2026-06-19T20:37:59-04:00",
            "transit": "2026-06-19T13:09:34-04:00",
            "civilTwilightBegin": "2026-06-19T05:10:40-04:00",
            "civilTwilightEnd": "2026-06-19T21:08:28-04:00",
            "nauticalTwilightBegin": "2026-06-19T04:30:13-04:00",
            "nauticalTwilightEnd": "2026-06-19T21:48:55-04:00",
            "astronomicalTwilightBegin": "2026-06-19T03:43:44-04:00",
            "astronomicalTwilightEnd": "2026-06-19T22:35:25-04:00"
        },
        "nwr": {
            "transmitter": "WNG736",
            "sameCode": "011001",
            "areaBroadcast": "https://api.weather.gov/radio/WNG736/broadcast",
            "pointBroadcast": "https://api.weather.gov/points/38.8894,-77.0352/radio"
        }
    }
}